<link rel="icon" type="image/png" href="/img/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
<style>
:root { --font-size: 20px; }
.navbar-logo {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 100%;
  border: 0.2rem solid gray;
  background-color: white;
}
.navbar-brand {
  font-size: 1.5rem;
  margin-left: 0;
  vertical-align: middle;
}
a.external-link:not(:has(img))::after {
  vertical-align: super;
  content: '↗';
  font-size: smaller;
  color: color-mix(in srgb, var(--primary) 50%, transparent);
  text-decoration: none;
}
a code { color: var(--primary); }
a:hover code { text-decoration: underline; }
a:active code { background-color: transparent; }
pre, pre > code { font-size: var(--font-size); }
dl { margin-top: var(--typography-spacing-vertical); }
dd { margin-bottom: var(--typography-spacing-vertical); }
.callout {
  border-left: 0.5rem solid var(--primary);
  padding-left: 1.5rem;
  margin: 2em 0;
}
.callout > .callout-title { font-weight: bolder; }
.callout > .callout-title > .callout-title-icon {
  float: left;
  margin-right: 0.5rem;
}
.callout > .callout-content {
  clear: left;
  margin-top: 1rem;
}
</style>
